<div class="go">
	<section class="grap">
		<p>即将跳转到站外的链接地址，确认跳转请点击下方按钮，否则请关闭本页面，谢谢！</p>
		<a class="goLink" rel="nofollow external" target="_blank">点击跳转</a>
		<%- post.content %>
	</section>
</div>
<script>
!function(){
    var k = window.location.href.match(/\?id=[^&]+/)[0].split('=')[1];
    var arr = JSON.parse('<%- JSON.stringify(site.data.go) %>');
    var e = document.getElementsByClassName('goLink')[0];
    if (arr[k]) {
        e.href = arr[k];
    } else {
        e.href = "/404";
    }
    setTimeout(function(){
        window.open(e.href)
        // location.href = e.href
        // location.reload()
    },500)
}()
</script>