<div id="toc" class="toc-article">
	<div class="toc-wrap">
		<p class="toc-title">文章目录</p>
		<%- toc(post.content) %>
	</div>
	<span class="toc-btn">
		<i></i>
		<i></i>
		<i></i>
	</span>
</div>
<script>
/* toc切换 */
!function toc() {
    var toc = document.body.querySelector('#toc') || document.getElementById('toc');
    if (!toc) return;
    var btn = toc.querySelector('.toc-btn') || document.body.getElementsByClassName('toc-btn')[0];
    btn.onclick = function() {
        toc.classList.toggle('show');
    }
}();
</script>