<div class="stream-title">Posts</div>
<div class="stream-list">
    <% page.posts.each(function(post){ %>
    	<%- partial('stream-item', {post: post, index: true}) %>
    <% }) %>
</div>
<% if (page.total > 1){ %>
<div class="posts-nav">
    <%- paginator({
        prev_next: true,
        prev_text: "上一页",
        next_text: "下一页"
    }) %>
</div>
<% } %>